In [130]:
import pandas as pd 
from sklearn.linear_model import LinearRegression 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

df = pd.read_csv('nba_salaries.csv')
df.head()

,Unnamed: 0,Player Name,Salary,Position,Age,Team,GP,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Player-additional
0,0,Stephen Curry,48070014,PG,34,GSW,56,56,34.7,10.0,20.2,0.493,4.9,11.4,0.427,5.1,8.8,0.579,0.614,4.6,5.0,0.915,0.7,5.4,6.1,6.3,0.9,0.4,3.2,2.1,29.4,curryst01
1,1,John Wall,47345760,PG,32,LAC,34,3,22.2,4.1,9.9,0.408,1.0,3.2,0.303,3.1,6.7,0.459,0.457,2.3,3.3,0.681,0.4,2.3,2.7,5.2,0.8,0.4,2.4,1.7,11.4,walljo01
2,2,Russell Westbrook,47080179,PG,34,LAL/LAC,73,24,29.1,5.9,13.6,0.436,1.2,3.9,0.311,4.7,9.7,0.487,0.481,2.8,4.3,0.656,1.2,4.6,5.8,7.5,1.0,0.5,3.5,2.2,15.9,westbru01
3,3,LeBron James,44474988,PF,38,LAL,55,54,35.5,11.1,22.2,0.500,2.2,6.9,0.321,8.9,15.3,0.580,0.549,4.6,5.9,0.768,1.2,7.1,8.3,6.8,0.9,0.6,3.2,1.6,28.9,jamesle01
4,4,Kevin Durant,44119845,PF,34,BRK/PHO,47,47,35.6,10.3,18.3,0.560,2.0,4.9,0.404,8.3,13.4,0.617,0.614,6.5,7.1,0.919,0.4,6.3,6.7,5.0,0.7,1.4,3.3,2.1,29.1,duranke01

In [131]:
def basic_wrangling(df, missing_threshold = 0.50, unique_threshold=0.95, messages = True):
    # remove columns with too many unique values
    # remove columns with too much missing data
    # remove columns with single values
    import pandas as pd 

    for col in df:
        missing = df[col].isna().sum()
        unique = df[col].nunique()
        rows = df.shape[0]
        
        if missing / rows >= missing_threshold:
            df.drop(columns = [col], inplace = True)
            if messages: print(f'Column {col} dropped because of too much missing data ({round(missing/rows, 2)*100}%)')
        elif unique / rows >= unique_threshold:
            if df[col].dtype in ['object', 'int64']:
                df.drop(columns = [col], inplace = True)
                if messages: print(f'Column {col} dropped because of too many unique values ({round(unique/rows, 2)*100}%)')
        elif unique == 1:
            df.drop(columns = [col], inplace = True)
            if messages: print(f'Column {col} dropped because of only one value ({df[col].unique()[0]})')

    return df

In [132]:
basic_wrangling(df).head()

Column Unnamed: 0 dropped because of too many unique values (100.0%)
Column Player Name dropped because of too many unique values (100.0%)
Column Player-additional dropped because of too many unique values (100.0%)

,Salary,Position,Age,Team,GP,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,48070014,PG,34,GSW,56,56,34.7,10.0,20.2,0.493,4.9,11.4,0.427,5.1,8.8,0.579,0.614,4.6,5.0,0.915,0.7,5.4,6.1,6.3,0.9,0.4,3.2,2.1,29.4
1,47345760,PG,32,LAC,34,3,22.2,4.1,9.9,0.408,1.0,3.2,0.303,3.1,6.7,0.459,0.457,2.3,3.3,0.681,0.4,2.3,2.7,5.2,0.8,0.4,2.4,1.7,11.4
2,47080179,PG,34,LAL/LAC,73,24,29.1,5.9,13.6,0.436,1.2,3.9,0.311,4.7,9.7,0.487,0.481,2.8,4.3,0.656,1.2,4.6,5.8,7.5,1.0,0.5,3.5,2.2,15.9
3,44474988,PF,38,LAL,55,54,35.5,11.1,22.2,0.500,2.2,6.9,0.321,8.9,15.3,0.580,0.549,4.6,5.9,0.768,1.2,7.1,8.3,6.8,0.9,0.6,3.2,1.6,28.9
4,44119845,PF,34,BRK/PHO,47,47,35.6,10.3,18.3,0.560,2.0,4.9,0.404,8.3,13.4,0.617,0.614,6.5,7.1,0.919,0.4,6.3,6.7,5.0,0.7,1.4,3.3,2.1,29.1

DUMMIE CODE PROCESS BELOW

In [133]:
# first, drop nulls strategically

df.drop(columns=['FG%', '3P%', 'FT%', '2P%'], inplace = True)
# we dropped those because they had nulls but there were other cells that had the info
df.dropna(inplace=True)
df. isna().sum()

Salary      0
Position    0
Age         0
Team        0
GP          0
GS          0
MP          0
FG          0
FGA         0
3P          0
3PA         0
2P          0
2PA         0
eFG%        0
FT          0
FTA         0
ORB         0
DRB         0
TRB         0
AST         0
STL         0
BLK         0
TOV         0
PF          0
PTS         0
dtype: int64

In [134]:
df.Position.value_counts() / df.shape[0]*100

Position
SG       24.463519
SF       19.527897
C        19.527897
PF       18.454936
PG       16.523605
PG-SG     0.429185
SF-SG     0.429185
SG-PG     0.429185
SF-PF     0.214592
Name: count, dtype: float64

In [135]:
df.loc[df['Position'] == 'PG-SG', 'Position'] = 'PG'
df.loc[df['Position'] == 'SF-SG', 'Position'] = 'SF'
df.loc[df['Position'] == 'SG-PG', 'Position'] = 'SG'
df.loc[df['Position'] == 'SF-PF', 'Position'] = 'SF'
df.Position.value_counts() / df.shape[0]*100

Position
SG    24.892704
SF    20.171674
C     19.527897
PF    18.454936
PG    16.952790
Name: count, dtype: float64

In [136]:
y = df.Salary
X = df.drop(columns=['Salary', 'Team', 'FGA', 'PTS', 'FG', 'TRB', '2P', 'FTA', '3PA', 'MP'])
X = pd.get_dummies(X, drop_first=True)
X.head()

,Age,GP,GS,3P,2PA,eFG%,FT,ORB,DRB,AST,STL,BLK,TOV,PF,Position_PF,Position_PG,Position_SF,Position_SG
0,34,56,56,4.9,8.8,0.614,4.6,0.7,5.4,6.3,0.9,0.4,3.2,2.1,False,True,False,False
1,32,34,3,1.0,6.7,0.457,2.3,0.4,2.3,5.2,0.8,0.4,2.4,1.7,False,True,False,False
2,34,73,24,1.2,9.7,0.481,2.8,1.2,4.6,7.5,1.0,0.5,3.5,2.2,False,True,False,False
3,38,55,54,2.2,15.3,0.549,4.6,1.2,7.1,6.8,0.9,0.6,3.2,1.6,True,False,False,False
4,34,47,47,2.0,13.4,0.614,6.5,0.4,6.3,5.0,0.7,1.4,3.3,2.1,True,False,False,False

In [137]:
model = LinearRegression().fit(X, y)
model.score(X, y)

0.6803479164958017

In [138]:
df_results= pd.DataFrame({'Coefficients':model.coef_}, index = model.feature_names_in_)
df_results.sort_values(by=['Coefficients'], ascending=False)

             Coefficients
BLK          3.116986e+06
Position_PG  2.790321e+06
Position_SF  2.000866e+06
3P           1.591572e+06
TOV          1.196935e+06
Position_SG  1.157576e+06
FT           1.087520e+06
Age          8.860183e+05
2PA          8.449309e+05
DRB          8.373871e+05
STL          2.500698e+05
Position_PF  1.572167e+05
GS           5.220193e+04
GP          -2.337428e+04
ORB         -2.821305e+04
AST         -1.639856e+05
eFG%        -7.970127e+05
PF          -1.800266e+06

In [139]:
def vif(df):
  import pandas as pd
  from sklearn.linear_model import LinearRegression

  df_vif = pd.DataFrame(columns=['VIF'])

  for col in df:
    y = df[col]
    X = df.drop(columns=[col])
    r_squared = LinearRegression().fit(X, y).score(X, y)
    vif = 1 / (1 - r_squared) # VIF = 3 is the cutoff
    df_vif.loc[col] = vif

  return df_vif.sort_values(by=['VIF'], ascending=False)

In [140]:
vif(X)

                  VIF
TOV          7.819223
2PA          7.687515
AST          5.912308
DRB          4.931389
FT           4.678496
Position_PG  3.875199
Position_SG  3.733856
ORB          3.441326
GS           3.298194
PF           2.895825
Position_SF  2.819308
3P           2.434600
STL          2.303012
BLK          2.211228
Position_PF  2.085669
GP           1.836690
eFG%         1.240817
Age          1.177686